Import Library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.impute import SimpleImputer
import xgboost as xgb
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report

Read dataset

In [ ]:
data = pd.read_csv ("Dataset_A_loan.csv")
data

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

***Data Preprocessing***

In [ ]:
data.shape

(45000, 14)

➥ melihat shape dari dataset

In [ ]:
data.columns

Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')

➥ lihat ada kolom apa aja

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   42750 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

➥ lihat tipe data

In [ ]:
data.describe()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,45000.000000,4.275000e+04,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000
mean,27.764178,8.018223e+04,5.410333,9583.157556,11.006606,0.139725,5.867489,632.608756,0.222222
std,6.045108,7.331158e+04,6.063532,6314.886691,2.978808,0.087212,3.879702,50.435865,0.415744
min,20.000000,8.000000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,390.000000,0.000000
25%,24.000000,4.726725e+04,1.000000,5000.000000,8.590000,0.070000,3.000000,601.000000,0.000000
50%,26.000000,6.705500e+04,4.000000,8000.000000,11.010000,0.120000,4.000000,640.000000,0.000000
75%,30.000000,9.582125e+04,8.000000,12237.250000,12.990000,0.190000,8.000000,670.000000,0.000000
max,144.000000,5.556399e+06,125.000000,35000.000000,20.000000,0.660000,30.000000,850.000000,1.000000

➥ statistik deskriptif

In [ ]:
print("Missing value: \n", data.isnull().sum())

Missing value:
 person_age                           0
person_gender                        0
person_education                     0
person_income                     2250
person_emp_exp                       0
person_home_ownership                0
loan_amnt                            0
loan_intent                          0
loan_int_rate                        0
loan_percent_income                  0
cb_person_cred_hist_length           0
credit_score                         0
previous_loan_defaults_on_file       0
loan_status                          0
dtype: int64

➥ ada missing value pada kolom person_income

isi dengan nilai rata-rata pendapatan tahunan

In [ ]:
data["person_income"].fillna(data["person_income"].mean(), inplace = True)

<ipython-input-8-13beb3d6ed4f>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["person_income"].fillna(data["person_income"].mean(), inplace = True)

*Encoding*

➥ model ml hanya bisa bekerja dengan data numerik, maka dari itu kita perlu encode kolom-kolom kategorikal menjadi angka.

In [ ]:
dataencoded = data.copy() #buat salinan agar data asli ttp aman

#pilih kolom kategorikal
catcols = ['person_gender', 'person_education', 'person_home_ownership', 'loan_intent',
           'previous_loan_defaults_on_file']

#label encoding
le = LabelEncoder() #scikit-learn
for col in catcols: #utk tiap catcols
  dataencoded[col] = le.fit_transform(data[col]) #ubah nilai teks jadi angka


dataencoded.head() #simpan hasil encodingnya

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,2,4,71948.0,0,3,35000.0,4,16.02,0.49,3.0,561,0,1
1,21.0,2,3,12282.0,0,2,1000.0,1,11.14,0.08,2.0,504,1,0
2,25.0,2,3,12438.0,3,0,5500.0,3,12.87,0.44,3.0,635,0,1
3,23.0,2,1,79753.0,0,3,35000.0,3,15.23,0.44,2.0,675,0,1
4,24.0,3,4,66135.0,1,3,35000.0,3,14.27,0.53,4.0,586,0,1

*Outlier*

➥ (menggunakan metode IQR)

In [ ]:
#pilih kolom numerik
numcols = ['person_age', 'person_income', 'person_emp_exp', 'loan_amnt', 'loan_int_rate',
           'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score']

outliersum = {} #dictionary kosong buat simpan hasilnya

for col in numcols:
  Q1 = dataencoded[col].quantile(0.25) #25% nilai dibawah ini
  Q3 = dataencoded[col].quantile(0.75) #75% nilai dibawah ini
  IQR = Q3 - Q1 #selisihnya (rentang normal)
  lower_bound = Q1 - 1.5 * IQR #batas bawah
  upper_bound = Q3 + 1.5 * IQR #batas atas
  #deteksi dan hitung outlier
  outliers = dataencoded[(dataencoded[col] < lower_bound) | (dataencoded[col] > upper_bound)]

  outliersum[col] = len(outliers) #simpan hasilnya ke dictionary

print("jumlah outlier per kolom: \n")
for k, v in outliersum.items():
  print(f"{k}: {v}")

jumlah outlier per kolom:

person_age: 2188
person_income: 2378
person_emp_exp: 1724
loan_amnt: 2348
loan_int_rate: 124
loan_percent_income: 744
cb_person_cred_hist_length: 1366
credit_score: 467

*menangani outlier dengan Winsorizing (batas bawah/atas)*

In [ ]:
outliercols = ['person_age', 'person_income', 'person_emp_exp', 'loan_amnt', 'loan_int_rate',
               'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score']

for col in outliercols :
  Q1 = dataencoded[col].quantile(0.25)
  Q3 = dataencoded[col].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR

  #ganti outlier dengan batas atas/bawah
  dataencoded[col] = np.where(dataencoded[col] < lower_bound, lower_bound, np.where(dataencoded[col] > upper_bound, upper_bound, dataencoded[col]))

➥ winsorizing :

- menjaga distribusi tetap masuk akal.
- tidak menghapus baris, hanya "membatasi" nilai ekstrim.

*Anomali*

mengecek nilai yg unik atau tidak wajar

In [ ]:
for col in catcols:
    print(f"{col}: {dataencoded[col].unique()}")

person_gender: [2 3 0 1]
person_education: [4 3 1 0 2]
person_home_ownership: [3 2 0 1]
loan_intent: [4 1 3 5 2 0]
previous_loan_defaults_on_file: [0 1]

➥

- person gender : seharusnya hanya 2 kategori.
- person education : sudah sesuai.
- person home ownership : sudah sesuai.
- loan intent : sudah sesuai.
- previous loan default on file : sudah sesuai.

In [ ]:
#menghapus baris gender anomali
dataencoded = dataencoded[dataencoded['person_gender'].isin([0,1])]

In [ ]:
for col in numcols:
    print(f"{col}: {dataencoded[col].unique()}")

person_age: [23. 26. 25. 22. 24. 21. 33. 28. 30. 27. 34. 31. 35. 32. 29. 36. 39.]
person_income: [ 94550.          97068.          40534.          70597.
  78536.          46175.          55949.          54721.
  54971.          85177.          53526.          61286.
  44067.          74518.          96993.         101893.
  89980.          80182.22622222  73136.          38377.
 133205.         140984.         160199.5        121139.
  94557.          70347.          77921.          40578.
  62806.          50961.          56995.          58581.
  34239.          55162.          41706.         109207.
  68015.          80438.          85182.          48865.
  76447.          85020.          90745.          76675.
  50245.         103681.          42250.         116245.
 113686.         132891.         139111.         160161.
  90277.          46778.          91343.          48702.
 133001.          52739.          75562.         120522.
  50048.          78876.          52104.          68911.
  44117.          86610.          31023.          56286.
  39151.          78780.          18181.         101863.
  37111.          97003.         128602.         148556.
  29631.          27223.          39780.          24109.
  56976.          26599.        ]
person_emp_exp: [ 1.   0.   4.   7.   2.   3.  10.   5.   6.   8.  14.  12.  15.  11.
  9.  13.  18.  17.  18.5]
loan_amnt: [23093.125 18000.     4400.     3000.     3600.     6300.     5000.
 14650.     9000.     7000.    10000.    15000.    12000.    13600.
 14000.     4000.     8400.    17600.    20000.     1000.     7200.
 17000.     6000.     7500.     8000.     4200.    10500.     2000.
 14400.     8725.     6350.    18050.     4500.     6250.     4800.
  2029.     5565.     6615.     2543.     8508.     7706.     6500.   ]
loan_int_rate: [18.62 13.85  8.   11.83 10.59 11.01  6.99  7.49 11.71 14.11 15.57  5.42
 16.82 10.    6.62  7.88  9.88 13.48 14.74  9.99  7.29 15.62 18.64 10.75
  8.38 14.79 14.96 10.65  6.03 13.92 12.69 10.01  7.51 15.33 11.11 10.74
  9.51 12.42 16.77  9.32 16.32  5.99  5.79 18.07 13.49  7.68  7.74 12.53
  7.61 11.37  6.22  7.63  6.93 14.91 14.29 12.35  9.12  7.03 13.94 11.73
 15.15 12.87 19.18 17.08 17.42  9.28 15.79 12.27 11.26 16.13]
loan_percent_income: [0.32 0.19 0.11 0.04 0.05 0.14 0.09 0.27 0.06 0.17 0.23 0.2  0.12 0.13
 0.1  0.16 0.15 0.21 0.34 0.02 0.29 0.18 0.07 0.37 0.08 0.03 0.25 0.26
 0.24 0.3 ]
cb_person_cred_hist_length: [ 3.   2.   4.   7.  10.   6.   8.   5.   9.  14.  11.  12.  15.5]
credit_score: [570.  661.  626.  625.  663.  657.  573.  572.  627.  718.  619.  642.
 650.  673.  549.  676.  564.  612.  651.  664.  654.  643.  631.  609.
 624.  540.  632.  658.  667.  646.  700.  708.  702.  497.5 542.  596.
 699.  566.  674.  589.  665.  581.  628.  648.  666.  711.  645.  583.
 640.  597.  551.  688.  682.  732.  606.  649.  677.  715.  684.  691.
 525.  641.  675.  629. ]

*Split data*

In [ ]:
X = dataencoded.drop(columns = ['loan_status', 'person_gender', 'person_education', 'person_home_ownership', 'loan_intent',
           'previous_loan_defaults_on_file']) #input semua kolom numerik
y = dataencoded['loan_status'] #target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state = 42)

*Random Forest*

In [ ]:
#Random Forest Classifier dengan hyperparameter tuning (3 hyperparameter)
rf_params = { #grid hyperparameter
    'n_estimators': [100, 200, 300], # jumlah decision tree
    'max_depth': [None, 10, 20], # maksimal depth tree
    'min_samples_split': [2, 5, 10] # jumlah minimum sample
}

rf = RandomForestClassifier(random_state=42) #inisialisasi dasar

#pilih berdasarkan akurasi rata2 dr semua kombinasi hyperparameter
rf_grid = GridSearchCV(rf, rf_params, cv=5, scoring='accuracy')
#cari kombinasi terbaik dan latih model dgn data train
rf_grid.fit(X_train, y_train)
#ambil model terbaik
rf_best = rf_grid.best_estimator_

In [ ]:
#prediksi data uji
rf_pred = rf_best.predict(X_test)

In [ ]:
print("Random Forest Performance:")
print(classification_report(y_test, rf_pred))
print(f"Accuracy: {accuracy_score(y_test, rf_pred)}")

Random Forest Performance:
              precision    recall  f1-score   support

           0       0.59      1.00      0.74        10
           1       1.00      0.12      0.22         8

    accuracy                           0.61        18
   macro avg       0.79      0.56      0.48        18
weighted avg       0.77      0.61      0.51        18

Accuracy: 0.6111111111111112

*XGBoost*

In [ ]:
# XGBoost Classifier with Hyperparameter Tuning (3 hyperparameter)
xgb_params = {
    'n_estimators': [100, 200, 300], # jumlah decision tree
    'max_depth': [3, 6, 9], # maksimal depth tree
    'learning_rate': [0.01, 0.1, 0.2] # kecepatan learning
}
xgb = XGBClassifier(random_state=42,
                    enable_categorical = True,
                    tree_method = "hist")
xgb_grid = GridSearchCV(xgb, xgb_params, cv=5, scoring='accuracy')
xgb_grid.fit(X_train, y_train)
xgb_best = xgb_grid.best_estimator_

In [ ]:
xgb_pred = xgb_best.predict(X_test)

In [ ]:
print("XGBoost Performance:")
print(classification_report(y_test, xgb_pred))
print(f"Accuracy: {accuracy_score(y_test, xgb_pred)}")

XGBoost Performance:
              precision    recall  f1-score   support

           0       0.62      1.00      0.77        10
           1       1.00      0.25      0.40         8

    accuracy                           0.67        18
   macro avg       0.81      0.62      0.58        18
weighted avg       0.79      0.67      0.61        18

Accuracy: 0.6666666666666666

Dari kedua model, hasil terbaik yang saya dapatkan adalah dengan cara XGBoost dengan accuracy 0.66.

Menyimpan file XGB menggunakan pickle

In [ ]:
import pickle

with open('xgboostmodel.pkl', 'wb') as file:
  pickle.dump(xgb_best, file)

kalau mau load modelnya lagi

In [ ]:
with open('xgboostmodel.pkl', 'rb') as file:
  model = pickle.load(file)

model sudah tersimpan as pickle di direktori google colab.

In [ ]:
import joblib
model = joblib.load('xgboostmodel.pkl')
print(model.get_xgb_params())

{'objective': 'binary:logistic', 'base_score': None, 'booster': None, 'colsample_bylevel': None, 'colsample_bynode': None, 'colsample_bytree': None, 'device': None, 'eval_metric': None, 'gamma': None, 'grow_policy': None, 'interaction_constraints': None, 'learning_rate': 0.2, 'max_bin': None, 'max_cat_threshold': None, 'max_cat_to_onehot': None, 'max_delta_step': None, 'max_depth': 3, 'max_leaves': None, 'min_child_weight': None, 'monotone_constraints': None, 'multi_strategy': None, 'n_jobs': None, 'num_parallel_tree': None, 'random_state': 42, 'reg_alpha': None, 'reg_lambda': None, 'sampling_method': None, 'scale_pos_weight': None, 'subsample': None, 'tree_method': None, 'validate_parameters': None, 'verbosity': None}